<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stepik Travel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>.card-img-top {
    max-height: 200px;
    min-height: 200px;
    object-fit: cover;
    }
    </style>
</head>

<body>

<div class="container mt-3">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" data-test="logo" href="/">Stepik Travel</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" data-test="navigation">
          {{ departs|safe }}
        </ul>
      </div>
    </nav>



    <h1 class="display-5 mt-4">Летим из <span data-test="from">{{name}}</span></h1>
    <p class="mb-4" >Найдено <span data-test="tourcount">15</span> туров, от <span data-test="pricemin">26000</span> до <span data-test="pricemax">84600</span> и от <span data-test="nightsmax">4</span> ночей до <span data-test="nightsmax">15</span> ночей</p>



    <!-- CARDS -->

    <div class="row mt-5" data-test="cards">
        {{ toursdep|safe }}
    </div>

</div>


</body>
</html>